        @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;700;800&display=swap');
         :root {
            /* ==== LOG IN ==== */
            .container_login,
            .container_register {
                width: 100vw;
                margin: 0;
                border-radius: 0;
            }
            /* ======================= ABOUT US ======================= */
            .div_about h1 {
                margin: 1.5rem 1.5rem .75rem 1.5rem;
                text-align: center;
                font-size: medium;
            }
            .div_about h3 {
                margin: .75rem 1.5rem 1.5rem 1.5rem;
                text-align: center;
                font-size: medium;
            }
            .about_description {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .about_description img {
                margin: 2rem 1rem 1rem 1rem;
                width: 70vw;
            }
            .images {
                order: -1;
            }
            .about_desc_left {
                text-align: center;
                margin: 1rem 2rem 2rem 2rem;
            }
            .about_desc_right {
                text-align: center;
                margin: 1rem 2rem 1rem 2rem;
            }
            .about_desc_left h3,
            .about_desc_right h3 {
                font-size: large;
            }
            /* ======================= FOOTER ======================= */
            .footer_div_father {
                flex-direction: column !important;
            }
            .footer_div_father div:nth-child(2) h5 {
                width: 100% !important;
            }
            .footer_div_father div:nth-child(2) div div span {
                font-size: var(--small-font-size);
            }
            .footer_down {
                flex-direction: column !important;
            }
            .footer_down div {
                margin: 1rem 0 !important;
            }
            .footer_down div p {
                margin: 0 !important;
            }
        }
        
        @media screen and (min-width: 501px) and (max-width: 768px) {
            .header {
                justify-content: flex-end;
            }
            .nav_home {
                display: none;
            }
            .nav-menu {
                display: inline;
                position: fixed;
                left: -100%;
                top: 5rem;
                flex-direction: column;
                background-color: #fff;
                z-index: 10;
                width: 100%;
                height: fit-content;
                text-align: center;
                transition: 0.3s;
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            }
            .nav-menu.active {
                left: 0;
            }
            .nav-item {
                margin: 2.5rem 0;
            }
            .nav-item a span {
                display: block;
                font-family: 'Merriweather Sans', sans-serif;
            }
            .nav-link-nav {
                font-size: 2.5rem;
            }
            .hamburger {
                display: block !important;
                cursor: pointer;
            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .hamburger.active .bar:nth-child(1) {
                -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
            }
            .hamburger.active .bar:nth-child(3) {
                -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
            }
            /* ==== LOG IN ==== */
            .container_login,
            .container_register {
                width: 100vw;
                margin: 0;
                border-radius: 0;
            }
            /* ==== SHOP STORE ==== */
            .section_shop_left {
                display: none;
            }
            .section_shop_right h1 {
                text-align: center;
            }
            .section_shop_right div div {
                width: 50vw;
                height: fit-content;
            }
            /* ==== INDEX ==== */
            .linea {
                display: none;
            }
            /* ==== PROFILE ==== */
            .main_profile {
                flex-direction: column !important;
                align-items: center;
            }
            .section_profile_left {
                height: fit-content;
            }
            .section_profile_left h2 {
                margin-top: 2.5rem;
            }
            .section_profile_left div {
                margin-top: 2rem;
            }
            .section_profile_right {
                margin: 2rem 0 2rem 0;
                height: fit-content;
            }
            .section_profile_right article {
                justify-content: space-evenly;
                width: 100vw;
            }
            .section_profile_right article div {
                margin: 0;
                width: 45vw;
            }
            .section_profile_right article div div {
                flex-direction: column;
            }
            .section_profile_right h3 {
                text-align: center;
                margin: 2rem 0 2rem 0 !important;
            }
            /* ======================= ABOUT US ======================= */
            .div_about h1 {
                margin: 1.5rem 1.5rem .75rem 1.5rem;
                text-align: center;
                font-size: large;
            }
            .div_about h3 {
                margin: .75rem 1.5rem 1.5rem 1.5rem;
                text-align: center;
                font-size: large;
            }
            .about_description {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .about_description img {
                margin: 2rem;
                width: 70vw;
            }
            .images {
                order: -1;
            }
            .about_desc_left {
                text-align: center;
                margin: 2rem;
            }
            .about_desc_right {
                text-align: center;
                margin: 2rem;
            }
            .about_desc_left h3,
            .about_desc_right h3 {
                font-size: large;
            }
        }
        
        @media screen and (min-width: 769px) and (max-width: 999px) {
            .section_profile_left div {
                margin-top: 5.5rem;
            }
            .section_profile_right {
                justify-content: space-around;
            }
            .section_profile_right h3:nth-child(1) {
                margin: 0;
            }
            .section_profile_right h3:nth-child(3) {
                margin-top: 0;
            }
            .section_profile_right h3 {
                text-align: center;
            }
            .section_profile_right article {
                flex-direction: column;
                width: fit-content;
                height: 90vh;
            }
            .section_profile_right article div {
                margin: 0;
                width: 65vw;
                height: fit-content;
            }
            .section_profile_right article:nth-child(4) {
                margin: 0;
                width: fit-content;
                height: 100vh;
            }
            .section_profile_right article div>div {
                flex-direction: column;
            }
            /* ======================= ABOUT US ======================= */
            .div_about h1 {
                margin: 2rem 2rem 1rem 2rem;
                text-align: center;
                font-size: x-large;
            }
            .div_about h3 {
                margin: 1rem 2rem 2rem 2rem;
                text-align: center;
                font-size: x-large;
            }
            .about_description {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .about_description img {
                margin: 2rem;
                width: 70vw;
            }
            .images {
                order: -1;
            }
            .about_desc_left {
                text-align: center;
                margin: 2rem;
            }
            .about_desc_right {
                text-align: center;
                margin: 2rem;
            }
            .about_desc_left h3,
            .about_desc_right h3 {
                font-size: x-large;
            }
        }
        
        @media screen and (min-width: 1000px) {
            .section_profile_right {
                justify-content: space-around;
            }
            .section_profile_right h3:nth-child(1) {
                margin: 0;
            }
            .section_profile_right h3:nth-child(3) {
                margin-top: 0;
            }
            .section_profile_right h3 {
                text-align: center;
            }
            .section_profile_right article {
                flex-direction: column;
                width: fit-content;
                height: 65vh;
            }
            .section_profile_right article div {
                margin: 0;
                width: 65vw;
                height: fit-content;
            }
            .section_profile_right article:nth-child(4) {
                margin: 0;
                width: fit-content;
                height: 75vh;
            }
            .section_profile_right article div>div {
                flex-direction: column;
            }
            .footer_down div {
                margin-left: 1rem;
            }
        }