@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;700;800&display=swap');

:root {

    /* ======================= COLORS ======================= */
    --hue-color: 355;
    --first-color: hsl(var(--hue-color), 68%, 53%);
    --first-color-light: hsl(var(--hue-color), 100%, 69%);

    /* ======================= FONT AND TYPOGRAPHY ======================= */

    --body-font: 'Merriweather Sans', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1.050rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
    --font-extra-bold: 800;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0px 0px 10px 1px #c4c4c4;
}

.header img{
    height: 120px;
}

.header_icons {
    padding: 2rem;
}

.header_icon{
    font-size: 3rem;
    margin: 1rem;
    cursor: pointer;
}

.header_icon:hover{
    color:var(--first-color)
}

.nav_home {
    width: 20vw;
    text-align: center;
    position: absolute;
}

.nav_home li {
    list-style-type: none;
    font-size: var(--big-font-size);
    padding: 1rem;
    color: #fff;
    background-color: #464141;
    cursor: pointer;
}

.nav_home li:hover {
    background-color: hsl(0, 4%, 20%);
}

.nav_home li:active {
    transform: scale(.95);
}

.nav_shop{
    height: auto;
    background-color:#464141;
    text-align: center;
}

.nav_shop ul{
    list-style: none;
    display: inline-block;
    padding:18px;
}

.nav_shop ul li{
    float: left;
    font-size: var(--h2-font-size);
    margin-top: 20px;
}

.nav_shop ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    padding: 18px;
}

.nav_shop ul li a:hover{
    background-color: hsl(var(--hue-color), 100%, 69%);
}

#browse {
    background-color: #787171;
}

#browse:hover {
    background-color: hsl(0, 3%, 40%);
}

.container_home {
    background-image: url(./DAW1_resources/images/bg2-web.png);
    background-size: 100% 100%;
    height: calc(100vh - 120px);
}

/* ======================= SEARCH ======================= */
.form_search {
    position: relative;
    bottom: -225px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 500px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input_search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form_search:hover,
.form_search:valid {
    cursor: pointer;
}

.form_search:hover .input_search,
.form_search:valid .input_search {
    display: block;
}

.form_search:hover .fa,
.form_search:valid .fa {
    background: #07051a;
    color: white;
}

.search_a {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.form_search:valid .search_a {
    display: block;
}

.search_a {
    text-decoration: none;
    color: white;
}

.search_a:hover{
    text-decoration: none;
}

/* ======================= WOMEN / MEN / SALES ======================= */
.container_category{
    width: 100vw;
    height: fit-content;
}

.button_category{
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    width: 80%;
    padding: 1rem 0;
    font-size: 3rem;
    border: 5px rgb(255, 255, 255) solid;
    margin-bottom: 10rem;
}

.button_category:hover{
    color: black;
    background: white;
    opacity: 0.8;
    border: 5px solid black;
}

.col_women{
    background-image: url(./DAW1_resources/shopwomen.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.col_men{
    background-image: url(./DAW1_resources/shopmen.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.col_sales{
    background-color: var(--first-color);
    width: 100vw;
    height: 100vh;
}

.col_women,
.col_men,
.col_sales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.title_sales{
    color: white;
    text-align: center;
    font-weight: 5rem;
    margin-bottom: 10rem;
}

.title_sales:first-child{
    margin-bottom: 3rem;
}

/* ======================= POPULAR BRANDS ======================= */
.container_products{
    height: fit-content;
    width: 100vw;
    padding: 3rem 4rem;
}

.brand_popular img{
    border: solid 2px #c4c4c4;
    width: 300px;
    height: 250px;
    cursor: pointer;
}

.item_info{
    background: #eeecec;
    width: 300px;
    height: 150px;
    border-bottom: solid 2px #c4c4c4;
    border-left: solid 2px #c4c4c4;
    border-right: solid 2px #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.item_title{
    margin-left: .5rem;
}

.item_subtitle{
    font-weight: var(--font-light);
    font-size: var(--h4-font-size);
    margin-left: .5rem;
}

.item_price{
    align-self:flex-end;
}

.container_products h2:nth-child(3){
    margin-top: 1rem;
}


/* ======================= FOOTER ======================= */
footer{
    color: white;
    background-color: rgb(0, 0, 0);
}

.footer_div_father{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-top: 5rem;
    width: 80%;
}

.footer_div_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_div_1 p {
    font-size: var(--normal-font-size);
}

.footer_div_2 {
    margin-top: 5rem;
}

.footer_div_2 h5 {
    padding-bottom: 2rem;
}

.footer_div_2 span {
    padding-bottom: 2rem;
}

hr{
    background-color: white;
    width: 90.5%;
    margin-left: 6.5rem;
}

.footer_icon{
    font-size: 2rem;
    border: white solid 1px;
    padding: .5rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.footer_down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_down div {
    margin: 2rem 2rem 2rem 6rem;
}

/* ======================= ABOUT US ======================= */
.horizontal_nav {
    padding: 2rem;
}

.horizontal_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.horizontal_nav li {
    float: left;
}

.horizontal_nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 2rem 2.5rem;
    text-decoration: none;
}

.horizontal_nav li a:hover:not(.active) {
    background-color: var(--first-color-light);
}

.horizontal_nav .active {
    background-color: var(--first-color);
    color: white;
}

.div_about {
    width: 100vw;
    height: fit-content;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

}

.div_about h1 {
    margin: 6rem 6rem 2.5rem;
}

.div_about h3 {
    text-align: justify;
    margin: 0 6rem 6rem;
}

.about_description {
    background-color: #c4c4c4;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_description img {
    margin: 4rem;
    width: 45vw;
    box-shadow: 0px 0px 10px 1px black;
}

.about_desc_right {
    margin: 4rem 4rem 0 0;
    text-align: justify;
}

.about_desc_left {
    margin: 4rem 0 0 4rem;
    text-align: justify;
}


/* ======================= LOGIN ======================= */
.container_login{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: hsl(355, 68%, 53%);
    width: 50%;
    border-radius: 2rem;
}

.form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_icon{
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-top: 1rem;
}

.social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.apple,
.google{
    background: #fff;
}

.facebook{
    background: #1877F2;
}

.sign-in{
    appearance: none;
    width: 100%;
    padding: 1rem 0;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 7px;
    margin: 1rem;
}

.input_login{
    background: transparent;
    background-repeat: no-repeat;
    color: white;
    border-radius: .25rem;
    border: white 1px solid; 
    width: 100%;
    padding: 1rem;
    font-weight: 300;
    margin: .5rem;
}

.input_login::placeholder{
    color: white;
}

.button_login{
    width: 100%;
    padding: .5rem 0;
    background-color: white;
    color: hsl(355, 68%, 53%);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: .25rem;
    margin-top: 2rem;
}

.p_login {
    color: white;
    align-self: end;
    margin-top: 1rem;
}

/* ======================= PRODUCT ======================= */
.product {
    background-color: white;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6rem 0 2rem;
}

.size {
    margin-right: 3rem;
}

.product img {
    margin: 4rem;
    width: 45vw;
}

.product h3 {
    font-weight: lighter;
}

.labels {
    width: fit-content;
    border: rgb(61, 61, 61) 2px solid;
    padding: 0.5rem;
    border-radius: 3rem;
    display: inline-block;
}

.div_sizes div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.div_sizes h4{
    padding: 1rem;
    height: 60px;
    width: 100px;
    border: 1px solid black;
    font-weight: var(--font-light);
    text-align: center;
}

.div_sizes button {
    border: 0;
    background-color: var(--first-color);
    color: white;
    width: 100%;
    margin-top: 0.75rem;
    padding: 1rem;
    font-size: var(--h2-font-size);
}

/* ======================= SHOP ======================= */

.section_shop_left h2 {
    margin: 0;
}

.categories,
.brands,
.size_types,
.price_range {
    margin: 7.5rem 2rem 0 4rem;
    cursor: pointer;
    width: fit-content;
}

.size_types input {
    margin-top: 2rem;
}

.size_types label {
    margin: .5rem 0 0 1rem;
    font-size: 1.5rem;
}

.price_range input[type="range"]{
    margin-top: 1rem;
}

.section_shop_right{
    margin: 2rem 0 6rem 0;
    width: 100vw;
    height: fit-content;
}

.shop_item{
    background-color: rgba(0, 0, 0, 0.04);
    margin-top: 2rem;
    width: 450px;
    height: 300px;
}

h4{
    margin-top: .5rem;
}

h5{
    color: #c4c4c4;
    font-weight: var(--font-light);
}

/* ======================= SHIPPING/PAYMENT PAGE ======================= */

.main_shipping{
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: max-content;
}

.main_shipping h1{
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.shipping_data{
    margin: 2rem 1rem 2rem 4rem;
    padding: 2rem;
    width: 50vw;
    height: fit-content;
    background-color: white;
}

.shipping_data form{ 
    display: flex;
    flex-direction: column;
}

.shipping_data input{
    background-color: #EFEFEF;
    border: none;
    font-weight: var(--font-light);
    margin-bottom: .5rem;
    
}

.shipping_data hr,
.payment_data hr{
    background-color: black;
    width: 100%;
}

.shipping_data hr{
    margin: 1.5rem 0 1.5rem;
}

.payment_data hr{
    margin: 1.5rem 0 .5rem;
}

.payment_data hr:nth-child(6){
    background-color: #c4c4c4 !important;
    margin: 0 0 1.5rem !important;
}


.payment_data{
    background-color: white;
    margin: 2rem 4rem 2rem 1rem;
    padding: 2rem;
    width: 35.625vw;
    height: 50vh;
}

.payment_subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment_data h3,h5{
    font-size: var(--normal-font-size);
    margin-top: 1rem;
}

.payment_data button {
    width: 100%;
    background-color: #46955B;
    padding: 0.75rem;
    border: none;
    color: white;
    font-size: 1.25rem;
}

.payments_method{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payments_method img{
    width: auto;
    height: 20px;
}

/* ======================= REGISTER ======================= */

.container_register{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: hsl(355, 68%, 53%);
    width: 50vw;
    border-radius: 2rem;
    padding: 2rem;
}

/* ======================= PROFILE ======================= */

.main_profile{
    width: 100vw;
    height: 100vh;
}

.main_profile button{
    padding: .5rem;
    background-color: var(--first-color);
    color: white;
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    border: none;
}

.section_profile_left{
    flex: 25%;
    margin: 2.5rem 1rem 1rem 1.5rem;
}

.section_profile_left img {
    width: 300px;
    height: auto;
}

.section_profile_left > button:nth-child(2){
    margin-top: 1.5rem;
}

.section_profile_left h2{
    font-size: var(--h2-font-size);
    color: rgba(0, 0, 0, .4);
    text-align: center;
}

.icon_profile{
    font-size: 2rem;
    margin-left: .5rem;
}

.section_profile_left button span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_profile_left > span:nth-child(4),
.section_profile_left > span:nth-child(5){
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, .4);
    font-size: var(--h4-font-size);
}

.section_profile_left div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.75rem;
    height: 30vh;
}

.section_profile_right{
    flex: 75%;
    margin: 2rem 0 2rem 2rem;
}

.section_profile_right article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.section_profile_right article > div {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    border: solid 2px var(--first-color);
    border-radius: .5rem;
    padding: 1.5rem;
}

.section_profile_right h3 {
    font-size: var(--big-font-size);
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

.section_profile_right h3:nth-child(3){
    margin-top: 1.5rem;
}

.section_profile_right article div {
    margin-right: 4rem;
}

.section_profile_right article div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.section_profile_right article div > div button:nth-child(1){
    padding: .5rem 3rem;
}

.section_profile_right article div button{
    margin-top: 1rem;
}

.section_profile_right article div span{
    margin: .5rem 0 .5rem 0;
    font-weight: var(--font-light);
}

.section_profile_right article div span img{
    width: 70px;
    height: auto;
}
.section_profile_right article div span img,
.section_profile_right article div span input{
    margin-right: 1rem;
}

