@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;700;800&display=swap');

:root {

    /* ======================= COLORS ======================= */
    --hue-color: 355;
    --first-color: hsl(var(--hue-color), 68%, 53%);
    --first-color-light: hsl(var(--hue-color), 100%, 69%);

    /* ======================= FONT AND TYPOGRAPHY ======================= */

    --body-font: 'Merriweather Sans', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1.050rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
    --font-extra-bold: 800;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header img{
    height: 120px;
}

.header_icons {
    padding: 2rem;
}

.header_icon{
    font-size: 3rem;
    margin: 1rem;
    cursor: pointer;
}

.header_icon:hover{
    color:var(--first-color)
}

.nav_home {
    width: 20vw;
    text-align: center;
    position: absolute;
}

.nav_home li {
    list-style-type: none;
    font-size: var(--big-font-size);
    padding: 1rem;
    color: #fff;
    background-color: #464141;
    cursor: pointer;
}

.nav_home li:hover {
    background-color: hsl(0, 4%, 20%);
}

.nav_home li:active {
    transform: scale(.95);
}

.nav_shop{
    height: auto;
    background-color:#464141;
    text-align: center;
}

.nav_shop ul{
    list-style: none;
    display: inline-block;
    padding:18px;
}

.nav_shop ul li{
    float: left;
    font-size: var(--h2-font-size);
    margin-top: 20px;
}

.nav_shop ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    padding: 18px;
}

.nav_shop ul li a:hover{
    background-color: hsl(var(--hue-color), 100%, 69%);
}

#browse {
    background-color: #787171;
}

#browse:hover {
    background-color: hsl(0, 3%, 40%);
}

.container_home {
    background-image: url(./DAW1_resources/images/bg2-web.png);
    background-size: 100% 100%;
    height: calc(100vh - 120px);
}

/* ======================= SEARCH ======================= */

form {
    position: relative;
    bottom: -225px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 500px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid {
    cursor: pointer;
}

form:hover input,
form:valid input {
    display: block;
}

form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
}

.search_a {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

form:valid a {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
}

/* ======================= WOMEN / MEN / SALES ======================= */
.container_category{
    width: 100vw;
    height: 100vh;
}

.button_category{
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    width: 80%;
    padding: 1rem 0;
    font-size: 3rem;
    border: 5px rgb(255, 255, 255) solid;
    margin-bottom: 10rem;
}

.button_category:hover{
    color: black;
    background: white;
    opacity: 0.8;
    border: 5px solid black;
}

.col_women{
    background-image: url(./DAW1_resources/shopwomen.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.col_men{
    background-image: url(./DAW1_resources/shopmen.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.col_sales{
    background-color: var(--first-color);
    height: 100vh;
}

.col_women,
.col_men,
.col_sales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.title_sales{
    color: white;
    text-align: center;
    font-weight: 5rem;
    margin-bottom: 10rem;
}

.title_sales:first-child{
    margin-bottom: 3rem;
}

/* ======================= Propular Brands ======================= */
.container_products{
    width: 100vw;
    height: 100vh;
    margin-top: 5px;

}

.col-sm img{
    width: 300px;
    height: 250px;
    border: solid 2px #c4c4c4;
}

.item_info{
    background: #eeecec;
    width: 300px;
    height: 150px;
    border-bottom: solid 2px #c4c4c4;
    border-left: solid 2px #c4c4c4;
    border-right: solid 2px #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2{
    margin-top: 1rem;
}

.item_title{
    margin-left: .5rem;
}

.item_subtitle{
    font-weight: var(--font-light);
    font-size: var(--h4-font-size);
    margin-left: .5rem;
}

.item_price{
    align-self:flex-end;
}