<div class="footer_div_father d-flex flex-row align-items-center pt-5">

    <div class="col d-flex flex-column justify-content-center align-items-center">
        <p>+34 920 46 78 98</p>
        <p>support@ourcompany.es</p>
    </div>

    <div class="col d-flex flex-column align-items-center">
        <h5 class="mb-3 text-center w-75">Quick Links</h5>
        <div class="nav flex-column w-75">
            <div class="d-flex flex-row justify-content-between">
                <span class="mb-1"><a href="#" class="nav-link p-0 text-muted">Product</a></span>
                <span class="mb-1"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></span>
            </div>
            <div class="d-flex flex-row flex-row justify-content-between">
                <span class="mb-1"><a href="#" class="nav-link p-0 text-muted">Company</a></span>
                <span class="mb-1"><a href="#" class="nav-link p-0 text-muted">Terms and Conditions</a></span>
            </div>
        </div>
    </div>

</div>

<div class="footer_down d-flex flex-row justify-content-around align-items-center">
    <div class="mb-4">
        <i class='bx bxl-twitter footer_icon'></i>
        <i class='bx bxl-facebook-square footer_icon'></i>
        <i class='bx bxl-instagram footer_icon'></i>
    </div>
    <div class="mb-4 mt-4">
        <p>© 2021 Our Company. All rights reserved</p>
    </div>
</div>