<nav class="d-flex justify-content-between align-items-center p-1 w-100">
    <a href="index.html"><img src="../DAW1_resources/Logo_Web.png" alt="Logo_Web"></a>
    <ul class="nav-menu d-flex justify-content-between align-items-center">
        <li class="nav-item">
            <a href="index.html" class="nav-link-nav">
                <i class='bx bxs-home nav_icon'><span>HOME</span></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="about.html" class="nav-link-nav">
                <i class='bx bx-info-circle nav_icon'><span>ABOUT</span></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="shop.html" class="nav-link-nav">
                <i class='bx bxs-store nav_icon'><span>STORE</span></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="profile.html" class="nav-link-nav">
                <i class='bx bxs-user nav_icon'><span>PROFILE</span></i>
            </a>
        </li>
    </ul>
    <div class="hamburger d-none">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>