<div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="product_card">
        <!-- <a href="../product.html?id="> -->

        <input type="hidden" name="sneaker_id" id="sneaker_id">
        <div class="crop text-center">
            <img class="img-fluid shop_item" id="sneaker_image" src="">
        </div>
        <h4 id="sneaker_name"></h4>
        <h5 id="price"></h5>
        <button class="btn btn-outline-danger ">Add to basket<i class='bx bx-cart-alt'></i></button>
        <!-- </a> -->
    </div>
</div>